{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

    {% for category in index %}
        <li><h1>{{ category.name }}</h1></li>
        <li><p>{{ category.description }}</p></li>
        <li><a href="{{ path('form_delete', { id: category.id })}}">supprimer</a></li>
    {% endfor %}

{% endblock %}
