{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

        {% if article %}
                <h1>{{ article.titre }}</h1>
                <p>{{ article.contenu }}</p>
        {% else %}
                <h1>Article non trouvé.</h1>
        {% endif %}

{% endblock %}