{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/article2.css') }}">
{% endblock %}

{% block title %}Article{% endblock %}

{% block body %}

    {% for article in articles %}
        <h1>{{ article.titre }}</h1>
    {% else %}
        <p>Aucun contenu à afficher</p>
    {% endfor %}

{% endblock %}